.venv/
__pycache__/
*.pyc
.dll
.exe
.pdb
*.cache
*.log
frontend/bin/*
frontend/obj/*
frontend/bin/Debug/net9.0/Frontend.dll
frontend/bin/Debug/net9.0/Frontend.exe
frontend/bin/Debug/net9.0/Frontend.pdb
frontend/obj/Debug/net9.0/apphost.exe
frontend/obj/Debug/net9.0/Frontend.AssemblyInfo.cs
frontend/obj/Debug/net9.0/Frontend.AssemblyInfoInputs.cache
frontend/obj/Debug/net9.0/Frontend.dll
frontend/obj/Debug/net9.0/Frontend.pdb
frontend/obj/Debug/net9.0/Frontend.sourcelink.json
frontend/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
frontend/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
frontend/obj/Debug/net9.0/rpswa.dswa.cache.json
frontend/obj/Debug/net9.0/ref/Frontend.dll
frontend/obj/Debug/net9.0/refint/Frontend.dll
