repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
      stages: [pre-commit]
    # Run the formatter.
    - id: ruff-format
      stages: [pre-commit]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
      stages: [pre-commit]
      exclude_types: [svg]
    - id: mixed-line-ending
      stages: [pre-commit]
      exclude_types: [svg]
    - id: end-of-file-fixer
      stages: [pre-commit]
      exclude_types: [svg]
