.electrophoresis-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    overflow: auto;
}

.electrophoresis-cell::before {
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    height: 9.375rem;
    z-index: 2;
}

.electrophoresis-cell {
    flex-shrink: 0;
    width: 46rem;
    height: 46rem;
    background-color: var(--sub-background);
    position: relative;
    border-top: none;
    border-left: 0.1875rem solid var(--text);
    border-right: 0.1875rem solid var(--text);
    border-bottom: none;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.9375rem 0.1875rem var(--highlight) inset;
    z-index: 3;
    left: 20.5rem;
    top: -70rem;
    overflow-y: scroll;
}

.buttons-container-1de {
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
    z-index: 2;         
}

.wells-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.wellInput:hover {
    cursor: pointer;
}

.divider {
    width: 30px;
    height: 120px;
    background: linear-gradient(to top, #B0B0B0, #D0D0D0);
    position: relative; 
    top: -20px;
    box-shadow: 
        -5px 0px 10px rgba(0, 0, 0, 0.1), 
         5px 0px 10px rgba(0, 0, 0, 0.1),
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
}


.well {
    flex: 1;
    height: 100px;
    background: radial-gradient(circle at center, #FFF, #EEE 80%, #CCC 100%);
    box-shadow: 
        -10px 0px 15px rgba(0, 0, 0, 0.1), 
         10px 0px 15px rgba(0, 0, 0, 0.1), 
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px 5px 0 0;
}

.well::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5%;
    right: 5%;
    height: 5px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8), transparent);
    border-radius: 50% 50% 0 0;
}

.button1deadd, .button1dedrop {
    flex-shrink: 0;
    padding: 0.625rem 1.25rem;
    background-color: var(--accent);
    border: none;
    color: var(--background);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.typeFile, .submitUpload {
    position: relative;
    padding: 0.625rem 1.25rem;
    height: 3rem;
    background-color: var(--accent);
    border: none;
    color: var(--background);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
}

#uploaded {
    width: 15rem;
}

.typeFile {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
}

.typeFolder {
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

.submitUpload {
    border-radius: 0.3125rem;
}

.button1deadd:hover, .button1dedrop:hover, .uploadType:hover, .submitUpload:hover {
    background-color: var(--highlight);
}

.button1deadd:disabled, .button1dedrop:disabled {
    background-color: var(--sub-text);
    cursor: not-allowed;
}

.acrylamide-gel-top {
    flex-shrink: 0;
    position: relative;
    left: 17rem;
    bottom: 118rem;
    width: 53rem;
    height: 10rem;
    border: 0.1875rem solid var(--text);
    background-color: var(--accent); 
    border-radius: 0 0 0.3125rem 0.3125rem; 
    z-index: 1; 
}

.acrylamide-gel-bottom {
    flex-shrink: 0;
    position: relative;
    left: 17rem;
    bottom: 88rem;
    width: 53rem;
    height: 10rem;
    border: 0.1875rem solid var(--text);
    background-color: var(--accent); 
    border-radius: 0 0 0.3125rem 0.3125rem; 
    z-index: 1; 
}

.acrylamide-label {
    flex-shrink: 0;
    font-weight: bold;
    left: 17.5rem;
    bottom: 89.6rem;
    position: relative;
    z-index: 1;
    color: var(--text);
}

.acrylamide-dropdown-section {
    position: relative;
    z-index: 1;
    padding: 0.625rem 1.25rem;
    background-color: var(--accent);
    border: none;
    color: var(--background);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-box {
    flex-shrink: 0;
    position: relative;
    top: 98rem;
    left: -30rem;
    width: 25rem;
    color: var(--text);
    border: 0.1875rem solid var(--accent);
    background-color: var(--sub-background); 
    border-radius: 0 0 0.3125rem 0.3125rem;
    padding: 0.9375rem;
    line-height: 2rem;
}

#zoomText::-webkit-outer-spin-button,
#zoomText::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#zoomText {
    width: 1.875rem;
}

.onede-box {
    position: relative;
    top: 74rem;
    left: 0;
}

.uploadContainer {
    flex-shrink: 0;
    position: relative;
    padding-top: 0.625rem;
    z-index: 2;
}

.upload{
    flex-shrink: 0;
    display: flex;
    position: relative;
    z-index: 2;
}

.uploadTypeContainer{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.wellCountLabel{
    flex-shrink: 0;
    position: relative;
    z-index: 2; 
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.625rem;
}

.acrylamide-percentage-label{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 1.2rem; 
    padding-top: 0.625rem;
}

.voltage-value-label{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 1.2rem; 
    padding-top: 0.625rem;
}

.voltage-dropdown-section {
    position: relative;
    z-index: 2;
    padding: 0.625rem 1.25rem;
    background-color: var(--accent);
    border: none;
    color: var(--background);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wires {
    position: relative;
    top: -75rem;
    left: 15rem;
}

.redwire-image{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 3.75rem;
    top: 46rem;
    left: 28.25rem;
}

.blackwire-image{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 3.75rem;
    top: 6.5rem;
    left: -25rem;
}

.redwireextended-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 50rem;
    width: 3.75rem;
    top: 38.75rem;
    left: 32rem;
}

.blackwireextended-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    width: 3.99rem;
    top: 2rem;
    left: -13.65rem;
}

.blackwireextendedhorizontal-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 22rem;
    width: 3.99rem;
    rotate: -90deg;
    top: 0.63rem;
    left: 1rem;
}

.redwireextendedhorizontal-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 23rem;
    width: 3.99rem;
    rotate: -90deg;
    top: 1.13rem;
    left: 32rem;
}

.blackwireextendedmiddle-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    width: 3.99rem;
    height: 10rem;
    top: -5.4rem;
    left: 24rem;
}

.redwireextendedmiddle-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 20rem;
    width: 3.75rem;
    top: -0.025rem;
    left: 25rem;
}

.voltage-label {
    flex-shrink: 0;
    font-size: 1.25rem;
    font-weight: bold;
    top: -121.5rem;
    left: 27.3rem;
    position: relative;
    z-index: 1;
}

.onede-page-instructions-box {
    color: var(--sub-text);
    position: relative;
    top: -13rem;
    left: -18rem;
}

.control-buttons-container {
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: 1.875rem;
    justify-content: center;
    z-index: 2;
}

.control-button {
    position: relative;
    padding: 0.625rem 0.9375rem;
    background-color: var(--accent);
    color: var(--background);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-button:hover {
    position: relative;
    background-color: var(--highlight);
}

.control-button:disabled {
    background-color: var(--sub-text);
    color: var(--text);
    cursor: not-allowed;
}

@keyframes initialMove {
    from { top: 6.25rem; }
    to { top: calc(52.5% + 6.25rem); }
}

@keyframes moveProtein {
    from { top: calc(52.5% + 6.25rem); }
    to { top: 680%; }
}

.proteinBand {
    position: absolute;
    width: 100%;
    height: 0.4375rem;
    background-color: var(--accent);
    z-index: 10;
    bottom: 0;
}

.protein-info {
    position: absolute;
    background-color: var(--background);
    color: var(--text);
    border: 0.0625rem solid var(--text);
    padding: 0.625rem;
    z-index: 10;
}

.simulationLabel {
    color: var(--text);
}

.span-color {
    width: 9.375rem;
    height: 0.625rem;
    border: var(--text) 0.125rem solid;
    float: right;
    margin-top: 0.6rem;
}

input[type=checkbox]:checked + label {
    font-weight: bold;
    text-decoration: underline;
}

input[type=checkbox]:not(:checked) ~ .span-color {
    opacity: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3125rem;
    color: var(--text);
}

.protein-selection {
    position: relative;
    padding: 0.625rem 0;
    z-index: 2;
}

::-webkit-file-upload-button,
::file-selector-button {
    display: none;
}

.chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.close-chart {
    margin-top: 1.25rem;
    padding: 0.625rem 1.25rem;
    border: none;
    background-color: var(--accent);
    color: var(--background);
    cursor: pointer;
}