#startButton {
    background-color: var(--accent);
    color: var(--text);
}

#stopButton {
    background-color: var(--sub-background);
    color: var(--text);
}

#secondDimensionButton {
    background-color: #3b82f6;
    color: var(--text);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.control-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.control-section h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
}

select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--sub-text);
    background-color: var(--text);
}

.protein-list {
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 0.5rem;
}

.protein-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 4px;
}

.protein-color {
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
}

.visualization {
    position: relative;
}

#gelCanvas {
    background: var(--background);
    border: 1px solid red;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.simulatorBoxTwoDE {
    width: 90%;
}

canvas{
    width: 100%;
}

.sim-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TwoDEinstructions ol, .TwoDEinstructions li, .TwoDEinstructions ul {
    text-align: left;
}

.centerText {
    text-align: center;
}

.TwoDEinstructions {
    margin: auto;
    display: block;
    width: fit-content;
    padding-right: 2%;
}

@media screen and (max-width: 1000px) {
    #protein-list{
        flex-direction: row !important;
        width: auto !important;
        height: 10% !important;
    }
    div:has(#protein-list){
        flex-direction: column;
    }
}