name: PR Enforcement
on: 
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches: ["main"]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Set up workspace
        uses: actions/checkout@v4.2.2
      - name: Enforce PR has Description
        env:
          PR_BODY= ${{ github.event.pull_request.body }}
        run: |
          PR_DESCRIPTION=$(printf "%s" "$PR_BODY")
          NOT_EMPTY="^(?!\s*$).+"
          if [[ $PR_DESCRIPTION =~ $NOT_EMPTY ]] || [[ -z $PR_DESCRIPTION ]]; then
            echo "PR description is empty"
            exit 1
          else
            echo "PR has description"
          fi
        